@use '@/styles/utils' as utils;

.skeleton {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f2f2f2 37%,
    #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  z-index: 100;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
